openapi: 3.2.0
info:
  title: ShareThis Platform Authentication API
  version: 2.0.0
  description: Apis to unlock the full potential of your online presence with our collection of powerful website tools. Designed to help you grow, engage, and connect with your audience, these free tools make it easy to enhance sharing, improve performance, and boost visibility across platforms. From social sharing integrations to analytics and engagement features, our website tools give you everything you need to build a stronger digital footprint and create meaningful interactions with your visitors.
servers:
- url: https://platform-api.sharethis.com/v2.0
tags:
- name: Authentication
  description: Managing user authentication
paths:
  /auth/login:
    post:
      tags:
      - Authentication
      summary: Authenticate and issue access token
      description: 'Authenticates a user via ShareThis SSO and returns a short-lived JWT.

        To register and get new account, please visit https://platform.sharethis.com


        This endpoint is **stateless** and does not use refresh tokens.

        '
      parameters:
      - in: header
        name: Content-Type
        required: true
        schema:
          type: string
          example: application/json
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - password
              properties:
                email:
                  type: string
                  example: user@example.com
                password:
                  type: string
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
              example:
                code: AUTH_SUCCESS
                data:
                  access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        '400':
          description: Missing required credentials
          content:
            application/json:
              examples:
                email_missing:
                  value:
                    code: EMAIL_REQUIRED
                password_missing:
                  value:
                    code: PASSWORD_REQUIRED
        '401':
          description: Invalid credentials
          content:
            application/json:
              example:
                code: AUTH_INVALID_CREDENTIALS
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                code: INTERNAL_SERVER_ERROR
components:
  schemas:
    Response:
      type: object
      required:
      - code
      properties:
        code:
          type: string
          example: PROPERTY_CREATED
          description: Response code
        data:
          type:
          - object
          - 'null'
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
