{"openapi":"3.0.3","info":{"title":"ShareThis Platform API","version":"2.0.0","description":"Apis to unlock the full potential of your online presence with our collection of powerful website tools. Designed to help you grow, engage, and connect with your audience, these free tools make it easy to enhance sharing, improve performance, and boost visibility across platforms. From social sharing integrations to analytics and engagement features, our website tools give you everything you need to build a stronger digital footprint and create meaningful interactions with your visitors."},"servers":[{"url":"https://platform-api.sharethis.com/v2.0"}],"paths":{"/properties/":{"post":{"tags":["Properties"],"summary":"Create property","description":"A Property represents a single website or domain and is used to configure and manage multiple apps under that domain. Creates a new property for the authenticated user. A user may create a maximum of **10 properties**.\n","security":[{"BearerToken":[]}],"parameters":[{"in":"header","name":"Authorization","required":true,"description":"Bearer access token","schema":{"type":"string","example":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}},{"in":"header","name":"Content-Type","required":true,"schema":{"type":"string","example":"application/json"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["domain"],"properties":{"domain":{"type":"string","example":"example.com"}}}}}},"responses":{"200":{"description":"Property successfully created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"code":"PROPERTY_CREATED","data":{"property":"64c8c9e21a2b4c0012345678"}}}}},"400":{"description":"Invalid input","content":{"application/json":{"example":{"code":"DOMAIN_REQUIRED"}}}},"401":{"description":"Authentication required","content":{"application/json":{"example":{"code":"AUTH_REQUIRED"}}}},"403":{"description":"Property limit exceeded","content":{"application/json":{"example":{"code":"PROPERTY_LIMIT_EXCEEDED"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"code":"INTERNAL_SERVER_ERROR"}}}}}}},"/properties":{"get":{"summary":"Get properties for authenticated user","description":"Returns a list of properties associated with the authenticated user's email.","tags":["Properties"],"security":[{"BearerToken":[]}],"responses":{"200":{"description":"Properties found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"code":"PROPERTIES_FOUND","data":[{"property_id":"asdfasdfasdfasdfd","domain":"sharethis.com","created_at":"2024-01-15T18:42:11.123Z"},{"property_id":"asdfasdfasdfasdfdasdf","domain":"predactiv.com","created_at":"2024-01-15T18:42:11.123Z"}]}}}},"401":{"description":"Authentication required","content":{"application/json":{"example":{"code":"AUTH_REQUIRED"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"code":"INTERNAL_SERVER_ERROR"}}}}}}},"/properties/{property_id}":{"get":{"tags":["Properties"],"summary":"Get property by ID","security":[{"BearerToken":[]}],"parameters":[{"name":"property_id","in":"path","required":true,"schema":{"type":"string"}},{"in":"header","name":"Authorization","required":true,"description":"Bearer access token","schema":{"type":"string","example":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}},{"in":"header","name":"Content-Type","required":true,"schema":{"type":"string","example":"application/json"}}],"responses":{"200":{"description":"Property found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"code":"PROPERTY_FOUND","data":{"property":{"domain":"example.com","slug":"example-com","verified":false,"locked":false,"created_at":"2024-01-15T18:42:11.123Z","updated_at":"2024-01-15T18:42:11.123Z"}}}}}},"401":{"description":"Authentication required","content":{"application/json":{"example":{"code":"AUTH_REQUIRED"}}}},"404":{"description":"Property not found","content":{"application/json":{"example":{"code":"PROPERTY_NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"code":"INTERNAL_SERVER_ERROR"}}}}}}},"/properties/{property_id}/validate":{"post":{"tags":["Properties"],"summary":"Validate property ownership via domain file","description":"Verifies ownership of a property domain by checking for a validation file\nhosted on the domain.\n\n### How verification works\n1. The API retrieves the property by ID.\n2. If the property is already verified, the request returns immediately.\n3. The API requests the following URL:\n\n   `http://{domain}/sharethis-property.txt`\n\n4. The file **must contain only the property ID** as plain text.\n5. If the ID matches, the property is marked as verified.\n\n### File requirements\n- Filename: `sharethis-property.txt`\n- Location: Root of the domain\n- Content: Exact property ID (no whitespace, no extra text)\n\n### Common failure reasons\n- File does not exist\n- File contents do not match property ID\n- Property does not exist\n- Property is already verified\n","security":[{"BearerToken":[]}],"parameters":[{"name":"property_id","in":"path","required":true,"description":"The unique identifier of the property to validate","schema":{"type":"string"}},{"in":"header","name":"Authorization","required":true,"description":"Bearer access token","schema":{"type":"string","example":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}},{"in":"header","name":"Content-Type","required":true,"schema":{"type":"string","example":"application/json"}}],"responses":{"200":{"description":"Property successfully verified","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"code":"PROPERTY_VERIFIED","data":{"property_id":"64f2c9a12ab34","domain":"example.com"}}}}},"400":{"description":"Validation failed due to missing or invalid file","content":{"application/json":{"examples":{"file_missing":{"value":{"code":"PROPERTY_UNVERIFIED_FILE_MISSING"}},"id_mismatch":{"value":{"code":"PROPERTY_ID_MISMATCH"}}}}}},"401":{"description":"Authentication required","content":{"application/json":{"example":{"code":"AUTH_REQUIRED"}}}},"404":{"description":"Property not found","content":{"application/json":{"example":{"code":"PROPERTY_NOT_FOUND"}}}},"409":{"description":"Property already verified","content":{"application/json":{"example":{"code":"PROPERTY_ALREADY_VERIFIED"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"code":"INTERNAL_SERVER_ERROR"}}}}}}},"/properties/{property_id}/apps":{"post":{"tags":["Apps"],"summary":"Create or update a property app","security":[{"BearerToken":[]}],"parameters":[{"name":"property_id","in":"path","required":true,"schema":{"type":"string"}},{"in":"header","name":"Authorization","required":true,"description":"Bearer access token","schema":{"type":"string","example":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}},{"in":"header","name":"Content-Type","required":true,"schema":{"type":"string","example":"application/json"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["config"],"properties":{"config":{"oneOf":[{"$ref":"#/components/schemas/InlineShareButtonConfig"},{"$ref":"#/components/schemas/StickyShareButtonsConfig"},{"$ref":"#/components/schemas/InlineFollowButtonsConfig"},{"$ref":"#/components/schemas/InlineReactionButtonsConfig"}]}}}}}},"responses":{"200":{"description":"App configuration saved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"code":"APP_UPDATED","data":{"property_id":"64c8c9e21a2b4c0012345678","app_id":"inline-share-buttons"}}}}},"400":{"description":"Invalid app id or configuration","content":{"application/json":{"examples":{"invalid_app_id":{"value":{"code":"INVALID_APP_ID"}}}}}},"401":{"description":"Authentication required","content":{"application/json":{"example":{"code":"AUTH_REQUIRED"}}}},"404":{"description":"Property not found","content":{"application/json":{"example":{"code":"PROPERTY_NOT_FOUND"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"code":"INTERNAL_SERVER_ERROR"}}}}}}},"/properties/{property_id}/apps/":{"get":{"summary":"List apps configured for a property","description":"Returns all enabled app IDs associated with the specified property.","operationId":"listPropertyApps","tags":["Apps"],"security":[{"BearerToken":[]}],"parameters":[{"name":"property_id","in":"path","required":true,"schema":{"type":"string"}},{"in":"header","name":"Authorization","required":true,"description":"Bearer access token","schema":{"type":"string","example":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}},{"in":"header","name":"Content-Type","required":true,"schema":{"type":"string","example":"application/json"}}],"responses":{"200":{"description":"Apps found for property","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"code":"APPS_FOUND","data":{"apps":[{"app_id":"inline-share-buttons"},{"app_id":"sticky-share-buttons"}]}}}}},"401":{"description":"Authentication required"},"404":{"description":"Property not found"},"500":{"description":"Internal server error"}}}},"/properties/{property_id}/apps/{app_id}":{"get":{"summary":"Get configuration for a specific app on a property","description":"Returns the configuration object for a specific app associated with a property.","operationId":"getPropertyApp","tags":["Apps"],"security":[{"BearerToken":[]}],"parameters":[{"name":"property_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"app_id","in":"path","required":true,"description":"Unique identifier of the app","schema":{"type":"string"}},{"in":"header","name":"Authorization","required":true,"description":"Bearer access token","schema":{"type":"string","example":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}},{"in":"header","name":"Content-Type","required":true,"schema":{"type":"string","example":"application/json"}}],"responses":{"200":{"description":"App configuration found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"code":"APP_FOUND","data":{"app":{"enabled":true}}}}}},"401":{"description":"Authentication required"},"404":{"description":"Property or app not found"},"500":{"description":"Internal server error"}}},"delete":{"summary":"Remove an app from a property","description":"Deletes the specified app configuration from a property.","operationId":"deletePropertyApp","tags":["Apps"],"security":[{"BearerToken":[]}],"parameters":[{"name":"property_id","in":"path","required":true,"schema":{"type":"string"}},{"name":"app_id","in":"path","required":true,"description":"Unique identifier of the app","schema":{"type":"string"}},{"in":"header","name":"Authorization","required":true,"description":"Bearer access token","schema":{"type":"string","example":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}},{"in":"header","name":"Content-Type","required":true,"schema":{"type":"string","example":"application/json"}}],"responses":{"200":{"description":"App successfully removed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"code":"APP_DELETED","data":{"app_id":"inline-share-buttons"}}}}},"401":{"description":"Authentication required"},"404":{"description":"Property or app not found"},"500":{"description":"Internal server error"}}}},"/oauth-clients":{"post":{"tags":["OAuth Clients"],"summary":"Create an oauth client (machine-to-machine credentials)","description":"Generates a new client_id and client_secret for the authenticated account. The plaintext client_secret is returned exactly once and is not retrievable afterward. A maximum of 25 active clients per account.\n","security":[{"BearerToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","example":"my-integration"},"client_type":{"type":"string","enum":["confidential","public"],"default":"confidential"}}}}}},"responses":{"200":{"description":"OAuth client created","content":{"application/json":{"example":{"code":"OAUTH_CLIENT_CREATED","data":{"client_id":"STPABC123DEF456GH","name":"my-integration","client_type":"confidential","expires_at":null,"client_secret":"3f9c...a12b"}}}}},"400":{"description":"Invalid input (e.g. NAME_REQUIRED)"},"401":{"description":"Authentication required"},"403":{"description":"OAUTH_CLIENT_LIMIT_EXCEEDED"},"500":{"description":"Internal server error"}}},"get":{"tags":["OAuth Clients"],"summary":"List the authenticated account's oauth clients","description":"Secrets are returned masked, never in plaintext.","security":[{"BearerToken":[]}],"parameters":[{"in":"query","name":"client_type","required":false,"schema":{"type":"string","enum":["confidential","public"]}}],"responses":{"200":{"description":"List of oauth clients","content":{"application/json":{"example":{"code":"OAUTH_CLIENTS_LISTED","data":{"clients":[{"client_id":"STPABC123DEF456GH","name":"my-integration","client_type":"confidential","client_secret":"3f...a12b"}]}}}}},"401":{"description":"Authentication required"},"500":{"description":"Internal server error"}}}},"/oauth-clients/{client_id}":{"delete":{"tags":["OAuth Clients"],"summary":"Delete an oauth client owned by the authenticated account","security":[{"BearerToken":[]}],"parameters":[{"in":"path","name":"client_id","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OAuth client deleted","content":{"application/json":{"example":{"code":"OAUTH_CLIENT_DELETED"}}}},"401":{"description":"Authentication required"},"404":{"description":"OAUTH_CLIENT_NOT_FOUND"},"500":{"description":"Internal server error"}}}},"/generate-ai-summary":{"post":{"tags":["AI Summary"],"summary":"Generate Key Observations for a property's sharing metrics","security":[{"BearerToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["property_id"],"properties":{"property_id":{"type":"string","description":"The property to summarize. Analytics data is fetched server-side."},"start_date":{"type":"string","description":"Optional YYYYMMDD start of the selected range. Defaults to last 30 days."},"end_date":{"type":"string","description":"Optional YYYYMMDD end of the selected range. Defaults to last 30 days."}}}}}},"responses":{"200":{"description":"Observations generated","content":{"application/json":{"example":{"code":"AI_SUMMARY_GENERATED","data":{"observations":[{"signal":"Share Momentum","what_we_see":"Shares rose 21% versus the prior period."}]}}}}},"400":{"description":"INVALID_PARAMS"},"401":{"description":"Authentication required"},"502":{"description":"AI_SUMMARY_FAILED (model returned unusable output, or a non-retryable upstream error)"},"503":{"description":"AI_SUMMARY_UNAVAILABLE (key not configured, or a transient upstream fault — 429/5xx/network/timeout — safe to retry)"}}}},"/auth/login":{"post":{"tags":["Authentication"],"summary":"Authenticate and issue access token","description":"Authenticates a user via ShareThis SSO and returns a short-lived JWT.\nTo register and get new account, please visit https://platform.sharethis.com\n\nThis endpoint is **stateless** and does not use refresh tokens.\n","parameters":[{"in":"header","name":"Content-Type","required":true,"schema":{"type":"string","example":"application/json"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","password"],"properties":{"email":{"type":"string","example":"user@example.com"},"password":{"type":"string"}}}}}},"responses":{"200":{"description":"Authentication successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Response"},"example":{"code":"AUTH_SUCCESS","data":{"access_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}}}}},"400":{"description":"Missing required credentials","content":{"application/json":{"examples":{"email_missing":{"value":{"code":"EMAIL_REQUIRED"}},"password_missing":{"value":{"code":"PASSWORD_REQUIRED"}}}}}},"401":{"description":"Invalid credentials","content":{"application/json":{"example":{"code":"AUTH_INVALID_CREDENTIALS"}}}},"500":{"description":"Internal server error","content":{"application/json":{"example":{"code":"INTERNAL_SERVER_ERROR"}}}}}}},"/audience-pageviews":{"post":{"tags":["Audience"],"summary":"Total pageviews for a property over the selected range (+ prior window)","security":[{"BearerToken":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["property_id"],"properties":{"property_id":{"type":"string"},"start_date":{"type":"string","description":"Optional YYYYMMDD; defaults to last 30 days."},"end_date":{"type":"string","description":"Optional YYYYMMDD; defaults to last 30 days."}}}}}},"responses":{"200":{"description":"Pageview totals","content":{"application/json":{"example":{"code":"AUDIENCE_PAGEVIEWS","data":{"total":64710,"prev_total":59860}}}}},"401":{"description":"Authentication required"},"404":{"description":"PROPERTY_NOT_FOUND"},"502":{"description":"AUDIENCE_PAGEVIEWS_FAILED"}}}}},"components":{"securitySchemes":{"BearerToken":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"Response":{"type":"object","required":["code"],"properties":{"code":{"type":"string","example":"PROPERTY_CREATED","description":"Response code"},"data":{"type":"object","nullable":true}}},"Property":{"type":"object","properties":{"_id":{"type":"string","example":"64c8c9e21a2b4c0012345678"},"domain":{"type":"string","example":"example.com"},"slug":{"type":"string","example":"example-com"},"verified":{"type":"boolean","example":false},"locked":{"type":"boolean","example":false},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"}}},"ShareNetworks":{"type":"string","enum":["facebook","blogger","bluesky","buffer","chatgpt","claude","copilot","copy","diaspora","digg","diigo","douban","email","evernote","fark","flipboard","gab","gemini","getpocket","gmail","googlebookmarks","grok","hackernews","houzz","instapaper","kakao","kindleit","line","linkedin","livejournal","mastodon","mailru","meneame","messenger","microsoftteams","naver","nextdoor","odnoklassniki","outlook","perplexity","pinboard","pinterest","plurk","print","qzone","reddit","refind","renren","sharethis","sms","telegram","tencentqq","threema","trello","tumblr","twitter","vk","viber","wechat","weibo","whatsapp","wordpress","xing","yahoomail","yummly"]},"FollowNetworks":{"type":"string","enum":["airbnb","amazon","bandcamp","behance","bitbucket","blogger","bluesky","deviantart","digg","discord","dribbble","etsy","facebook","flickr","flipboard","foursquare","gettr","github","gitlab","goodreads","googlemaps","googlescholar","houzz","instagram","linkedin","mastodon","medium","meetup","messenger","mix","odnoklassniki","parler","patreon","pinterest","quora","reddit","shares","slideshare","snapchat","soundcloud","spotify","stackoverflow","strava","telegram","threads","tiktok","trello","tripadvisor","truthsocial","tumblr","twitch","twitter","vimeo","vk","wechat","weibo","whatsapp","xing","yelp","youtube","zillow","zomato"]},"Reactions":{"type":"string","enum":["slight_smile","heart_eyes","laughing","astonished","sob","rage"]},"InlineShareButtonConfig":{"type":"object","properties":{"app_id":{"type":"string","enum":["inline-share-buttons"]},"enabled":{"type":"boolean","default":true},"alignment":{"type":"string","default":"left"},"background_color":{"type":"string","default":"#B581A3"},"color":{"type":"string","default":"social"},"fade_in":{"type":"boolean","default":true},"font_size":{"type":"number","default":12},"text_color":{"type":"string","default":"#fff"},"language":{"type":"string","default":"en"},"min_count":{"type":"number","default":0},"networks":{"type":"array","items":{"$ref":"#/components/schemas/ShareNetworks"}},"padding":{"type":"number","default":10},"radius":{"type":"number","default":0},"show_mobile_buttons":{"type":"boolean","default":true},"size":{"type":"number","default":40},"spacing":{"type":"number","default":8},"subject":{"type":"string"},"use_native_counts":{"type":"boolean","default":true},"preview":{"type":"boolean","default":false}}},"StickyShareButtonsConfig":{"type":"object","properties":{"app_id":{"type":"string","enum":["sticky-share-buttons"]},"enabled":{"type":"boolean","default":true},"alignment":{"type":"string","default":"left"},"background_color":{"type":"string","default":"#B581A3"},"color":{"type":"string","default":"social"},"has_spacing":{"type":"boolean","default":false},"hide_desktop":{"type":"boolean","default":false},"text_color":{"type":"string","default":"#fff"},"labels":{"type":"string","default":"counts"},"language":{"type":"string","default":"en"},"min_count":{"type":"number","default":0},"mobile_breakpoint":{"type":"number","default":0},"networks":{"type":"array","items":{"$ref":"#/components/schemas/ShareNetworks"}},"padding":{"type":"number","default":12},"radius":{"type":"number","default":0},"show_mobile":{"type":"boolean","default":false},"show_mobile_buttons":{"type":"boolean","default":true},"show_toggle":{"type":"boolean","default":true},"show_total":{"type":"boolean","default":false},"size":{"type":"number","default":48},"slide_in":{"type":"boolean","default":true},"spacing":{"type":"number","default":0},"subject":{"type":"string"},"top":{"type":"number","default":100},"use_native_counts":{"type":"boolean","default":true},"preview":{"type":"boolean","default":false}}},"InlineFollowButtonsConfig":{"type":"object","properties":{"app_id":{"type":"string","enum":["inline-follow-buttons"]},"enabled":{"type":"boolean","default":true},"action":{"type":"string","default":"Follow us:"},"action_enable":{"type":"boolean","default":true},"action_pos":{"type":"string","default":"top"},"alignment":{"type":"string","default":"left"},"color":{"type":"string","default":"social"},"fade_in":{"type":"boolean","default":true},"language":{"type":"string","default":"en"},"networks":{"type":"array","items":{"$ref":"#/components/schemas/FollowNetworks"}},"padding":{"type":"number","default":10},"profiles":{"type":"object","default":{}},"radius":{"type":"number","default":0},"size":{"type":"number","default":40},"spacing":{"type":"number","default":8},"preview":{"type":"boolean","default":false}}},"InlineReactionButtonsConfig":{"type":"object","properties":{"app_id":{"type":"string","enum":["inline-reaction-buttons"]},"enabled":{"type":"boolean","default":true},"fade_in":{"type":"boolean","default":true},"min_count":{"type":"number","default":0},"reactions":{"type":"array","items":{"$ref":"#/components/schemas/Reactions"}},"padding":{"type":"number","default":10},"language":{"type":"string","default":"en"},"size":{"type":"number","default":48},"url":{"type":"string"}}},"OAuthClient":{"type":"object","properties":{"client_id":{"type":"string","example":"STPABC123DEF456GH"},"name":{"type":"string","example":"my-integration"},"client_type":{"type":"string","enum":["confidential","public"],"example":"confidential"},"expires_at":{"type":"string","format":"date-time","nullable":true},"client_secret":{"type":"string","description":"On create, the plaintext secret (shown once). On list, a masked value.","example":"3f...9a2c"}}}}},"tags":[{"name":"Properties","description":"Managing properties. A Property represents a single website or domain and is used to configure and manage multiple apps under that domain."},{"name":"Apps","description":"ShareThis apps attached to a property"},{"name":"OAuth Clients","description":"Manage machine-to-machine (client_credentials) OAuth credentials for the authenticated account. Create a client to receive a client_id and a client_secret (shown once), then exchange them at /v2.0/mcp/oauth/token using the client_credentials grant.\n"},{"name":"AI Summary","description":"Generates the \"Key Observations\" summary for the Sharing Intelligence Overview page from a compact, pre-aggregated metrics payload. The OpenAI key stays server-side.\n"},{"name":"Authentication","description":"Managing user authentication"},{"name":"Audience","description":"Audience analytics for the Sharing Intelligence page."}]}